html{
  font-size:$basefontsize;
  min-width:480px;
  }


body{
  background:black;
  color:white;
  font-family: "opensans";
  }

span{
	padding-top:4rem;
}

.head{
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top:15rem;
  @include media ($tablet-width) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  @include media ($desktop-width) {
    justify-content: flex-start;
  }
}

.headSmall {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
  @include media ($tablet-width) {
	  display: flex;
    flex-flow: row wrap;
	  justify-content: center;
    }
  @include media ($desktop-width) {
    display: flex;
    flex-flow: row wrap;
	  justify-content:flex-start;
    }
  }

.logo {
  height: auto;
  padding-top: 50%;
  width: 100%;
  @include media ($tablet-width) {
    padding: 0;
    }
  }

.logoSmall{
  width: 144px;
  @include media ($tablet-width) {
    width: 67px;
    }
  }

#loading {
  display: block;
  margin:0 auto;
  position: fixed;
  text-align: center;
  }

#loadingGif {
  margin:0 auto;
  position: absolute;
}

ul{
	display:flex;
	flex-flow:row wrap;
}

li{
	align-content:bottom;
  background-size:cover;
	background-repeat:no-repeat;
	display:flex;
	height:25rem;
  position:relative;
	width:100%;
	@include media ($tablet-width) {
		width:33%;
	}
	@include media ($desktop-width) {
		width:25%;
	}
  }

.headline{
	background:rgba(0,0,0,0.6);
  bottom:0;
  position:absolute;
	}

a{
  color:white;
	display:block;
	font-family:"opensans";
	font-weight:bold;
  height:25rem;
	line-height:150%;
	text-decoration:none;
  width:100%;
}

.caps{
	text-transform: uppercase;
}

#copyright{
	color:$greytext;
	font-weight:500;
	padding-top:5rem;
	text-align: center;
}