html{
    min-width:480px;
    font-size:$basefontsize;
	}


body{
	font-family: "opensans";
	text-align: center;
	color:white;    
    background:black;
}

.logo {
    display: block;
    margin: 0 auto;
	padding-top:20rem;
}
.logosmall
{
    display: block;
    margin: 0 auto;
	padding-top:2rem;
}
form{
	text-align: center;
}

.caps{
	text-transform: uppercase;
}


#copyright{
	font-weight:500;
	color:$greytext;
	padding-top:10rem;
}

ul{
	margin:0 auto;
	display:flex;
	flex-flow:column nowrap;
	
}

li{
	width:100%;
	margin:0 auto;
	height:25rem;
	background-size:cover;
	background-repeat:no-repeat;
}
.headline{
	text-decoration:none;
	bottom:0;
}